/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 20;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: rgb(255, 254, 254);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: rgb(0, 0, 0);
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all 0.5s;
}
.nav a:hover {
  color: white;
}

header {
  text-align: center;
  background: url("images/working-room.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  padding-top: 5px;
}
header {
  line-height: 2.0;
}
header .profile-image {
  margin-top: 80px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 0px solid rgba(255, 255, 255, 0.671);
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
}
header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}
.tag {
  background-color: #ddd9d9f3;
  color: black;
  padding: 4px;
  border-radius: 5px;
  display: table;
  margin: 35px auto; text-align: right
}
.location {
  background-color: rgb(109, 108, 108);
  color: #efefef;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: justify;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all 0.5s;
}
.card:hover {
  border-color: #f8e431f3;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #fdf28ef3;
  color: rgb(22, 20, 20);
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: rgba(109, 108, 108, 0.925); color: white;
}

ul.languages{
  padding: 0;
  text-align: center;
}
.languages li {
  display: inline-block;
  padding: 20px 20px;
  margin: 2px;
}
.languages img{
  width: 45px;
  height: 45px;
}

footer .copyright {
  top: -8px;
  font-size: 0.75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  opacity: 0.4;
  transition: all 0.5s;
}
a.twitter {
  background-image: url(images/twitter.png);
}
a.linkedin {
  background-image: url(images/linkedin.png);
}
a.github {
  background-image: url(images/github.png);
}
a.facebook {
  background-image: url(images/facebook.png);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  .flex {
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }

  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 60px auto; font-weight: lighter;
  }
}
